.heroScroll {
  margin-left: 9.25rem;
}
.heroScrollButton {
  display: flex;
  align-items: center;
}

.wheel {
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(3.75rem);
  }
}

.heroScrollName {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}

.heroScrollIcon {
  font-size: 1.25rem;
  color: var(--title-color);
}

/* =============== BREAKPOINTS ===============*/

@media screen and (max-width: 992px) {
  .heroScroll {
    margin-left: 7.25rem;
  }
}

@media screen and (max-width: 768px) {
  .heroScroll {
    display: none;
  }
}

/* @media screen and (max-width: 576px) {
} */

/* @media screen and (max-width: 350px) {
} */
